.logo {
    background-image: url("https://hebbkx1anhila5yf.public.blob.vercel-storage.com/logo123-o6yNUlbhNEEMFto6SpAG16aK881a0O.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 150px;
    margin-bottom: 2rem;
    filter: invert(1); /* Since the image is white on black, we can invert it if needed */
    z-index: 10;
    
  }
  
  /* Add this class if you want the original colors without inversion */
  .logo-original {
    filter: none;
  }